<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<form action="https://secure.ebs.in/pg/ma/payment/request" name="payment" method="POST">
    <input value="<%= account_id %>" name="account_id" />
    <input value="<%= address %>" name="address" />
    <input value="<%= amount %>" name="amount" />
    <input value="<%= channel %>" name="channel" />
    <input value="<%= city %>" name="city" />
    <input value="<%= country %>" name="country" />
    <input value="<%= currency %>" name="currency" />
    <input value="<%= description %>" name="description" />
    <input value="<%= display_currency %>" name="display_currency" />
    <input value="<%= display_currency_rates %>" name="display_currency_rates" />
    <input value="<%= email %>" name="email" />
    <input value="<%= mode %>" name="mode" />
    <input value="<%= name %>" name="name" />
    <input value="<%= phone %>" name="phone" />
    <input value="<%= postal_code %>" name="postal_code" />
    <div><label>reference_no</label>
        <input value="<%= reference_no %>" name="reference_no" />
    </div>
    <div><label>return_url</label>
        <input value="<%= return_url %>" name="return_url" />
    </div>

    <div><label>secure_hash</label>
        <input value="<%= secure_hash %>" name="secure_hash" />
    </div>
    <button type="submit" class="submitForm"> SUBMIT </button>
</form>
<div class="container">
    <h3 class="text-center" style="padding:20%;">Loading EBS Payment Gateway</h3>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        // $(".submitForm").click();
    });
</script>